.tipo{
    color: white;
    border-radius: 20px;
}
.planta{
    background-color: #9BCC50;
}
.veneno{
    background-color: #B97FC9;
}
.fuego{
    background-color: #FD7D24;
}
.volador{
    background-color: #bdb9b8;
    background-image: linear-gradient(0deg, #bdb9b8 0%, #3dc7ef 100%);
}
.agua{
    background-color: #4592C4;
}
.bicho{
    background-color: #729F3F;
}
.normal{
    background-color: #A4ACAF;
}